In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cookies.csv',index_col=0,sep="\t")
# df.fillna('', inplace=True)
# Isolate cookie columns
cookie_cols = df.columns

In [3]:
# Cookie rankings dict
cookie_ratings = {}
for col in df.columns:
    cookie_ratings[col] = df[col].mean()
cookie_ratings

{'Do-si-do': 6.8076923076923075,
 "S'mores": 5.636363636363637,
 'Samoas': 7.388888888888889,
 'Savannah Smile': 6.125,
 'Tagalong': 6.346153846153846,
 'Thin Mint': 7.107142857142857,
 'Toffee-tastic': 5.176470588235294,
 'Trefoil': 5.785714285714286}

In [6]:
# Adding 'User Average' and 'Rating Count' cols
df['User Average'] = df[cookie_cols].mean(axis=1)
df['Rating Count'] = df[cookie_cols].notna().sum(axis=1)
df

,Savannah Smile,Thin Mint,Do-si-do,Trefoil,Toffee-tastic,Tagalong,Samoas,S'mores,User Average,Rating Count
Name,,,,,,,,,,
Chris,6.5,6.0,7.5,7.0,5.0,8.0,9.0,7.0,7.000000,8
Colleen,8.0,9.0,6.0,5.0,5.0,7.0,8.5,5.0,6.687500,8
Derek,6.0,9.0,6.0,5.0,3.0,8.0,9.0,5.0,6.375000,8
Kevin,NaN,4.0,NaN,8.0,6.0,NaN,9.0,NaN,6.750000,4
Vi,NaN,NaN,NaN,NaN,5.0,NaN,NaN,6.0,5.500000,2
Shashin,NaN,NaN,NaN,NaN,7.0,NaN,9.0,NaN,8.000000,2
Maggie,6.0,NaN,NaN,NaN,6.0,NaN,8.0,NaN,6.666667,3
Brandon,7.0,NaN,NaN,NaN,5.0,8.0,6.0,8.0,6.800000,5
Amanda,7.0,NaN,NaN,NaN,3.0,NaN,9.0,NaN,6.333333,3
Roman*,10.0,4.0,1.0,6.0,6.0,4.0,9.0,4.0,5.500000,8
Jeff,1.0,7.0,7.0,3.0,3.0,8.0,7.0,4.0,5.000000,8
Phteven,5.0,10.0,9.0,5.0,5.0,5.0,5.0,5.0,6.125000,8
Lara,2.0,5.0,10.0,2.0,2.0,5.0,6.0,8.0,5.000000,8
Tom D,NaN,8.0,9.0,6.0,NaN,10.0,2.0,7.0,7.000000,6
Nobis,9.0,7.0,8.0,7.0,8.0,3.0,2.0,NaN,6.285714,7
Emily,NaN,7.0,8.0,7.0,8.0,NaN,8.0,NaN,7.600000,5
Varun,NaN,9.0,5.0,5.0,7.0,6.0,9.0,NaN,6.833333,6
Araba,6.0,6.5,5.0,8.0,4.0,4.5,9.0,3.0,5.750000,8
Jon Park,NaN,8.0,7.0,7.0,NaN,6.0,8.5,NaN,7.300000,5